a {
	text-decoration: none;
}
/* deviding the landing page into two parts one for the image and one for button and text and displaying it as flex */
/* flex container */
.landingPage {
	display: flex;
    flex-direction: row;
	padding-top: 5vh;
	/* padding-bottom: 5vh; */
	padding-left: 5%;
	
}

/*-------------------- left section (image section)------------------------ */
.leftSection {
	width: 50%;
	text-align: right;
}

.homePageImage {
	height: 90vh;
	width: 30vw;
}

/* -------------------right section(button and heading section)------------------------- */

.rightSection {
	width: 50%;
	display: table;
	text-align: left;
}
.rightSideContent {
	height: 95vh;
	width: 33.33vw;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}


.startTestButton {
	color: #006238;
	font: normal normal normal 25px/20px Verdana, sans-serif;
	border-radius: 8px;
	border: 2px solid #006238;
	background-color: white;
	height: 70px;
	width:  200px;
	display: inline;
	margin-left: 165px;
    cursor: pointer;
}